body{
    background-image: url("../images/car.jpg");
background-repeat: no-repeat;
    background-size: cover;
}







#chessboard{
    width:800px;
    height: 800px;
    border: solid red 1px;
    opacity: .5;
}

.blackBox{
    width: 100px;
    height: 100px;
    background-color: darkblue;
    float: left;
    border-radius: 0%;
}
.whiteBox {
    width: 100px;
    height: 100px;
    background-color:lawngreen;
    float: left;
    border-radius: 0%;
}